## Classification of English Words by IPA Pronunciation

In [1]:
# Import packages
import pandas as pd
import more_itertools as mit
import oxford as ox
import pprint
from oxford import Word
from nltk.stem.wordnet import WordNetLemmatizer
from pattern.en import lemma
import time

In [2]:
# Data cleaning and Data Preparation
df_text = pd.read_csv("C://Users//acer//OneDrive//DataDisca//21_10_2021 Task 02//words.txt",
                      header = None,
                      sep='\n'
                     )
#print(df_text)

In [3]:
for i in df_text[0]:
    line = i
    #print(line)
    test = line.lower().split()
    test2 = sorted([j for j in test if j.isalpha() ])
    #print(test2)

In [77]:
df_w = set(mit.collapse(test2))
#df_w

In [6]:
df_w1 = []
for i in df_w:
       df_w1.append(lemma(i))

In [7]:
#create Word list
df_w = sorted(df_w1)
df_w = set(mit.collapse(df_w))
df_w = sorted(list(df_w))

In [8]:
#create Word data frame
df = pd.DataFrame(df_w, columns=["Word"])

In [9]:
#save Word data frame as a CSV file
df.to_csv('C://Users//acer//Desktop//oxford-dictionary-api//df.csv')

In [10]:
#import Word data frame
df_1 = pd.read_csv("C://Users//acer//Desktop//oxford-dictionary-api//df_1.csv")
df_1

           Word
0             a
1        abduct
2          able
3         about
4    absolutely
..          ...
503         yet
504         you
505       young
506        your
507        zero

[508 rows x 1 columns]

In [20]:
# store UK and US pronuntion in list using Word.get()
pron_uk = []
pron_us = []
for w in range(0,100):
    Word.get(df_1.iat[w, 0])
    time.sleep(5)
    s = Word.pronunciations( )
    li_uk = sorted(s[0].values())
    li_us = sorted(s[1].values())
    uk = li_uk[0]
    us = li_us[0]
    pron_uk.append(uk)
    pron_us.append(us)

In [21]:
dfUK = pd.DataFrame(pron_uk, columns=["UK Pron"])

In [22]:
dfUS = pd.DataFrame(pron_uk, columns=["US Pron"])

In [23]:
df1 = dfUK.merge(dfUS, left_on='UK Pron', right_on='US Pron')

In [63]:
# create a data frame with UK/ US pron..
dfpro = pd.concat([df[:100], df1], axis=1)
dfpro

           Word           UK Pron           US Pron
0             a               /ə/               /ə/
1        abduct         /æbˈdʌkt/         /æbˈdʌkt/
2          able           /ˈeɪbl/           /ˈeɪbl/
3         about          /əˈbaʊt/          /əˈbaʊt/
4    absolutely     /ˈæbsəluːtli/     /ˈæbsəluːtli/
..          ...               ...               ...
95   competency       /kənˈfrʌnt/       /kənˈfrʌnt/
96     complete       /kənˈfjuːz/       /kənˈfjuːz/
97  composition     /ˈkɒnsɪkwəns/     /ˈkɒnsɪkwəns/
98   comprehend  /kənˈstæbjələri/  /kənˈstæbjələri/
99   compulsory      /kənˈtɪnjuː/      /kənˈtɪnjuː/

[100 rows x 3 columns]

In [74]:
# select " ˈe " sound
new_df1 = dfpro[dfpro['UK Pron'].str.contains("ˈe", na=False)]
new_df1

    Word    UK Pron    US Pron
2   able    /ˈeɪbl/    /ˈeɪbl/
29   and  /ˈeɪndʒl/  /ˈeɪndʒl/

In [75]:
# select " eˈ " sound
new_df2 = dfpro[dfpro['UK Pron'].str.contains("əˈ", na=False)]
new_df2

           Word            UK Pron            US Pron
3         about           /əˈbaʊt/           /əˈbaʊt/
6        accuse          /əˈkjuːz/          /əˈkjuːz/
9      addition           /əˈdɪʃn/           /əˈdɪʃn/
12       affect           /əˈfekt/           /əˈfekt/
13      against          /əˈɡenst/          /əˈɡenst/
18   allegation       /ˌæləˈɡeɪʃn/       /ˌæləˈɡeɪʃn/
19        allow            /əˈlaʊ/            /əˈlaʊ/
25        alway        /əˈmerɪkən/        /əˈmerɪkən/
26     american            /əˈmʌŋ/            /əˈmʌŋ/
32    applicant           /əˈplaɪ/           /əˈplaɪ/
35       artist            /əˈses/            /əˈses/
36       assess        /əˈsesmənt/        /əˈsesmənt/
39    authority            /əˈweɪ/            /əˈweɪ/
62      breathe        /kəˈpæsəti/        /kəˈpæsəti/
78         chat       /kəˈlʌmbiən/       /kəˈlʌmbiən/
82  christopher     /kəˈmɪʃənə(r)/     /kəˈmɪʃənə(r)/
84        claim  /kəmˌpætəˈbɪləti/  /kəmˌpætəˈbɪləti/
87    colleague      /ˌkɒmpəˈzɪʃn/      /ˌkɒmpəˈzɪʃn/